// global styles here
body, html {
  margin: 0px; 
  padding: 0px;
}

:root { // variables

  // placeholders
  --primary: red;
  --secondary: orange;
  --accent: yellow;
  --primary-font: "Time New Romans"
  --secondary-font: "Sans"
}

