// global styles here
body, html {
  margin: 0px; 
  padding: 0px;
}


:root {
  // Color variables
  --primary: #2F00FF;
  --secondary: #D4D;
  --accent: #99CCFF;

  // Font variables
  --font-primary: 'Karla', sans-serif;
  --font-secondary: 'Merriweather', serif;
}

// Apply global font styles
body {
  font-family: var(--font-primary); 
}

// Class for secondary font
.font-secondary {
  font-family: var(--font-secondary); 
}
